<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeCanvas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="landing-container">

      <!-- navbar section  -->
      <header class="header">
        <nav class="navbar">
          <div class="logo">
            <a href="/">CodeCanvas</a>
          </div>
          <div class="nav-links">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          </div>
        </nav>
      </header>

      <!-- main section -->
      <section class="main">
        <div class="main-content">
          <h1>Welcome to My Blog</h1>
          <p>
            Your go-to place for insightful articles, posts, and discussions.
          </p>
          <a href="/posts" class="btn-primary">Explore Posts</a>
        </div>
      </section>

      <!-- featured-posts section -->
      <section class="featured-posts">
        <h1>Featured Posts</h1>
        <div class="posts-grid">
          <div class="post-card">
            <h3>Post Title</h3>
            <p>Summary of the post...</p>
            <a href="/posts/1" class="btn-secondary">Read More</a>
          </div>
          <div class="post-card">
            <h3>Post Title</h3>
            <p>Summary of the post...</p>
            <a href="/posts/2" class="btn-secondary">Read More</a>
          </div>
          <div class="post-card">
            <h3>Post Title</h3>
            <p>Summary of the post...</p>
            <a href="/posts/2" class="btn-secondary">Read More</a>
          </div>
          <div class="post-card">
            <h3>Post Title</h3>
            <p>Summary of the post...</p>
            <a href="/posts/2" class="btn-secondary">Read More</a>
          </div>
          <div class="post-card">
            <h3>Post Title</h3>
            <p>Summary of the post...</p>
            <a href="/posts/2" class="btn-secondary">Read More</a>
          </div>
          <div class="post-card">
            <h3>Post Title</h3>
            <p>Summary of the post...</p>
            <a href="/posts/2" class="btn-secondary">Read More</a>
          </div>
        </div>
      </section>

      <!-- footer section -->
      <footer class="footer">
        <p>&copy; 2025 CodeCanvas | All Rights Reserved</p>
      </footer>
      
    </div>
  </body>
</html>
